@import '../../index.scss';
.menu{
    position:fixed;
    width: calc(100vw - 4vw);
    height: calc(100vh - 4vw);
    background-color: white;
    z-index: 99999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(112px - 4rem) 8fr 3fr;
    font-family: 'lato';
    &__close{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2vw;
        padding-top: 2vw;
        & > svg{
            font-size: 2rem;
        }
    }
/*     $min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px; */

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > h2{
            font-weight: 400;
            @include fluid-type(320px, 800px, 16px, 24px);
        }
        & > h1{
            font-weight: 700;
            @include fluid-type(320px, 800px, 24px, 32px);
        }
    }
    &__socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > h3{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1rem;

        }
    }
    &__icons{
        display: flex;
        margin: 1rem;
        & > svg{
            margin-right: 1rem;
            font-size: 1.5rem;
        }
        & > svg:nth-child(4){
            margin-right: 0;
        }
    }
}
