@import "../../index.scss";
@import "transition-style";
.menu {
  position: fixed;
  width: calc(100vw - 4vw);
  height: calc(100vh - 4vw);
  background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaW1hbCUyMHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-position: top center;
  background-size: cover;
  z-index: 99999999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(112px - 4rem) 8fr 3fr;
  font-family: "lato";
  & a {
    color: black;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vw;
    padding-top: 2vw;
    & > svg {
      font-size: 2rem;
      cursor: pointer;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > h2 {
      font-weight: 400;
      @include fluid-type(320px, 800px, 16px, 24px);
    }
    & > h1 {
      font-weight: 700;
      @include fluid-type(320px, 800px, 24px, 32px);
    }
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
    }
  }
  &__icons {
    display: flex;
    margin: 1rem;
    & a {
      margin-right: 1rem;
    }
    & a:nth-child(4) {
      margin-right: 0;
    }
    & svg {
      font-size: 1.5rem;
      transition: ease-in-out all 0.3s;
    }
    & svg:hover {
      color: #1155cb;
    }
  }
}
.basic-6 {
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 20%) 3px
    no-repeat;
  transition: 0.5s;

  padding-bottom: 6px;
}
.basic-6:hover {
  --d: 80%;
}
.continuous-5 {
  background: linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 3px no-repeat;
  padding-bottom: 6px;
  cursor: pointer;
}
.continuous-5:hover {
  --d: -101%;
  transition: 0.5s;
}
