@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.skill {
  font-family: "PT Sans", sans-serif;
  z-index: 99;
  position: relative;
  width: 40%;
  min-width: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  & > li {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    & > .skill__title {
      color: white;
      h3 {
        display: inline-block;
      }
    }
    .skill__container {
      z-index: 99;
      background: #555;
      position: relative;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      display: block;
      border-radius: 5px;
    }
    &__animation {
      height: 100%;
      width: 100%;
    }
  }
}
